.carousel-slider > div { display:none; }
.carousel-slider > div:first-child { display:block; }
.carousel-slider .slick-slide {
	float:none;
	width:auto;
}

.animation { visibility:visible; }

.navbar.navbar-realestate { position:absolute; }

.post-format-video iframe, .post-format-audio iframe { background-color:#f4f4f4; }

.affa-testimonial-realestate {
	max-width:600px;
	margin-right:auto;
	margin-left:auto;
}
