.affa-bg-color, .btn-custom, input[type="button"], input[type="submit"], input[type="reset"], button, .carousel-slider .slick-dots li button:hover, .carousel-slider .slick-dots li.slick-active button, a.scrollup:hover, .affa-panel .panel .panel-heading h4 a, .text-white .affa-panel .panel .panel-heading h4 a.collapsed, .affa-progress-bar .progress-bar-line .progress-bar-val, .affa-post .post-item-meta ul li:after, .post-format-link a, .single .post-single-meta ul li:after, .text-white .widget_search .affa-form-search input[type="submit"], .text-white .tagcloud a, .affa-feature-icon-entrepreneur .feature-icon-wrap:before, .carousel-slider.slick-slider.testimonials-entrepreneur-slider .slick-dots li button, div.zabuto_calendar .badge-event, div.zabuto_calendar div.legend span.badge-event { background-color:#edb305; }

.bg-color-overlay10 { background-color:rgba(237,179,5,.1); }
.bg-color-overlay20 { background-color:rgba(237,179,5,.2); }
.bg-color-overlay30 { background-color:rgba(237,179,5,.3); }
.bg-color-overlay40 { background-color:rgba(237,179,5,.4); }
.bg-color-overlay50 { background-color:rgba(237,179,5,.5); }
.bg-color-overlay60 { background-color:rgba(237,179,5,.6); }
.bg-color-overlay70 { background-color:rgba(237,179,5,.7); }
.bg-color-overlay80, .affa-bg-color .affa-client-entrepreneur:before { background-color:rgba(237,179,5,.8); }
.bg-color-overlay90, .affa-form-signup .submit-status { background-color:rgba(237,179,5,.9); }

h1 span, h2 span, h3 span, h4 span, h5 span, h6 span, a, a:visited, .list-icon ul li .ion, .carousel-slider .slick-prev:hover, .carousel-slider .slick-next:hover, .carousel-slider .slick-prev:hover:before, .carousel-slider .slick-next:hover:before, .header-general .header-txt h1, .affa-panel .panel .panel-body h1 span, .affa-panel .panel .panel-body h2 span, .affa-panel .panel .panel-body h3 span, .affa-panel .panel .panel-body h4 span, .affa-panel .panel .panel-body h5 span, .affa-panel .panel .panel-body h6 span, .affa-modal .modal-body a:hover, .affa-timeline li h5, .affa-info-list li a:hover, .affa-post .post-item-title a:hover, .post-single-related .post-item .post-item-title a:hover, .widget a:hover, .post-heading-center-entrepreneur h2, .navbar.navbar-entrepreneur .nav > li.nav-menu-btn > a:hover, .navbar.navbar-entrepreneur .nav > li.nav-menu-btn > a.active, .navbar.navbar-entrepreneur .nav-btn-mobile a:hover, .navbar.navbar-entrepreneur.navbar-landing.affix .nav-btn-mobile a:hover, .affa-feature-icon-entrepreneur .feature-icon-wrap, .affa-portfolio-entrepreneur .portfolio-txt a:hover, .affa-profile-entrepreneur h4, div.zabuto_calendar .table tr.calendar-month-header td div.calendar-month-navigation span:hover { color:#edb305; }

.btn-custom.btn-white, input[type="button"].btn-white, input[type="submit"].btn-white, input[type="reset"].btn-white, button.btn-white { color:#edb305 !important; }

.btn-custom:hover, input[type="button"]:hover, input[type="submit"]:hover, input[type="reset"]:hover, button:hover, .text-white .affa-panel .panel .panel-heading h4 a, .text-white .affa-panel .panel .panel-heading h4 a.collapsed:hover, .post-format-link a:hover, .text-white .widget_search .affa-form-search input[type="submit"]:hover, .text-white .tagcloud a:hover, div.zabuto_calendar .table tr td.event:hover .badge-event, div.zabuto_calendar .table tr td.event:hover div.legend span.badge-event { background-color:#fcc214; }

.affa-timeline li.current:before {
	background-color:#edb305;
	box-shadow:0 0 0 5px rgba(237,179,5,.2);
}
.text-white .affa-timeline li.current:before { box-shadow:0 0 0 5px rgba(237,179,5,.5); }

.navbar.navbar-entrepreneur.navbar-general .nav > li.nav-menu-btn > a:hover, .navbar.navbar-entrepreneur.navbar-general .nav > li.nav-menu-btn > a.active, .navbar.navbar-entrepreneur.navbar-landing.affix .nav > li.nav-menu-btn > a:hover, .navbar.navbar-entrepreneur.navbar-landing.affix .nav > li.nav-menu-btn > a.active {
	background-color:#edb305;
	border-color:#edb305;
}

.affa-feature-icon-entrepreneur:hover .feature-icon-wrap { border-color:#edb305; }


/* ========== Don't change this styles ========== */

a:hover, .widget a { color:#253c58; }

.text-white a:hover, .text-white .affa-info-list li a:hover { color:rgba(255,255,255,.7); }

.btn-custom.disabled, input[type="button"]:disabled, input[type="submit"]:disabled, input[type="reset"]:disabled, button:disabled, .btn-custom.disabled:hover, input[type="button"]:disabled:hover, input[type="submit"]:disabled:hover, input[type="reset"]:disabled:hover, button:disabled:hover {
	color:#9a9a9a !important;
	background-color:#e0e0e0;
}

.carousel-slider .slick-prev.slick-disabled:hover, .carousel-slider .slick-next.slick-disabled:hover, .carousel-slider .slick-prev.slick-disabled:hover:before, .carousel-slider .slick-next.slick-disabled:hover:before { color:#e0e0e0; }

a.scrollup, .post-format-link a, .tagcloud a, .tagcloud a:hover, .affa-socials-widget a:hover { color:#FFF; }

.post-paginations a { color:#a9a9a9; }

.affa-callout-entrepreneur a:hover { color:#253c58; }
